@import url(reset.css);
@import url(my.css);
.container {
  max-width: 1274px;
  margin: 0 auto;
  overflow: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

hr.hline {
  border: 0;
  height: 0;
  border-bottom: 1px solid #dbdcdc;
}

.header_info {
  display: flex;
  justify-content: space-between;
  padding: 12px 0 12px 0;
}

.header_info_left {
  display: flex;
  justify-content: flex-start;
}

.header_info_left_style {
  margin-right: 43px;
}

.header_info_left_style_i {
  color: #f42121;
  margin-left: 4px;
  width: 17px;
  height: 17px;
}

.header_info_left_style_text {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #101116;
}

.header_info_right {
  display: flex;
  justify-content: flex-end;
}

.header_info_right_style ul {
  list-style: none;
  position: relative;
  display: inline-table;
  padding: 0 8px;
}

.header_info_right_style ul li {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header_info_right_style ul li:hover > ul {
  display: block;
}

.header_info_right_style ul li {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header_info_right_style ul li span {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #959595;
  display: block;
}

.header_info_right_style ul li span:hover {
  color: #f42121;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header_info_right_style ul ul {
  display: none;
  background: #fff;
  position: absolute;
  box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header_info_right_style ul ul li {
  float: none;
  position: relative;
}

.header_info_right_style ul ul li span {
  text-align: center;
  padding: 8px 0;
}

.header_content {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.header_content .svg-inline--fa {
  background: none;
  color: white;
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
}

.header_content_logo {
  display: flex;
  justify-content: flex-start;
}

.header_content_search {
  display: flex;
  justify-content: space-between;
}

.header_content_search_control {
  height: 43px;
  width: 180px;
  border: 1px solid #cccccc;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #959595;
}

.header_content_search input::placeholder {
  padding-left: 15px;
}

.header_content_search_form {
  height: 43px;
  width: 278px;
  border: 1px solid #cccccc;
  border-left: none;
}

.header_content_search_btnfield_btn {
  width: 43px;
  height: 43px;
  background: #f42121;
  display: inline-block;
  border: 2px solid #f42121;
  border-radius: 1px;
  transition: 0.2s;
}

.header_content_search_btnfield_btn:hover {
  background: #101116;
  border: 2px solid #101116;
  cursor: pointer;
}

.header_content_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_content_login .fa-shopping-cart {
  width: 28px;
  height: 28px;
  color: #101116;
}

.header_content_login .fa-shopping-cart:hover {
  color: #f42121;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header_content_login .fa-heart {
  width: 28px;
  height: 28px;
  color: #101116;
  margin-right: 14px;
}

.header_content_login .fa-heart:hover {
  color: #f42121;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header_content_login .fa-user {
  width: 28px;
  height: 28px;
  color: #101116;
  margin-right: 14px;
}

.header_content_login .fa-user:hover {
  color: #f42121;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header_navbar {
  background: #101116;
}

.header_navbar_list {
  cursor: pointer;
}

.header_navbar_list ul {
  display: flex;
  justify-content: space-between;
}

.header_navbar_list ul li {
  padding: 24px 0;
}

.header_navbar_list ul li a {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #959595;
  text-decoration: none;
}

.header_navbar_list ul li:hover {
  color: #ffffff;
  border-top: 2px solid #ffffff;
  padding: 23px 0;
}
