@import "reset.css";
@import "my.css";

$color-general: #101116;

$color-page: #f3f4f8;

$color-white: #ffffff;

$color-gray: #dcdde1;

$color-red: #f42121;

$color-gray1: #959595;

.container{
	max-width: 1274px;
	margin: 0 auto;
	overflow: hidden;
}
*, *:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}
hr.hline {
	border: 0;
	height: 0;
	border-bottom: 1px solid #dbdcdc;
}
.header_info{
	display: flex;
	justify-content: space-between;
	padding: 12px 0 12px 0;
	&_left{
		display: flex;
		justify-content: flex-start;
		&_style{
			margin-right: 43px;
			&_i{
				color: $color-red;
				margin-left: 4px;
				width: 17px;
				height: 17px;
			}
			&_text{
				font-family: "Ubuntu", sans-serif;
				font-size: 14px;
				color: $color-general;
			}
		}
	}
	&_right{
		display: flex;
		justify-content: flex-end;
		&_style{
			ul{
				list-style: none;
				position: relative;
				display: inline-table;
				padding: 0 8px;
			}
			ul li{
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
			}
			ul li:hover > ul{display: block;}
			ul li{
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
			}
			ul li span{
				font-family: "Ubuntu", sans-serif;
				font-size: 16px;
				color: $color-gray1;
				display:block;
			}
			ul li span:hover{
				color: $color-red;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
			}
			ul ul{
				display: none;
				background: #fff;
				position: absolute; 
				box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
				border: 1px solid rgba(0,0,0,.1);
			}
			ul ul li{float: none; position: relative;}
			ul ul li span {
				text-align: center;
				padding: 8px 0;
			}	
		}
	}
}
.header_content{
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
	.svg-inline--fa{
		background: #f42121;
		color: white;
		display: block;
		margin: 0 14px;
	}
	&_logo{
		display: flex;
		justify-content: flex-start;
	}
	&_search{
		display: flex;
		justify-content: space-between;
		&_control{
			height: 43px;
			width: 180px;
			border: 1px solid #cccccc;
		}
		&_form{
			height: 43px;
			width: 278px;
			border: 1px solid #cccccc;
			border-left: none;
		}
		&_btnfield_btn {
			width: 43px;
			height: 43px;
			background: #f42121;
			outline: none;
		}
		
	}
}
